@model Objetos

@{
    ViewData["title"] = "Cadastro de Objetos";
}


<sucess-msg mensagem="@TempData["msg"]"></sucess-msg>

<button type="button" style="margin-bottom:1rem" class="btn btn-primary btn-lg btn-block">Cadastre Objetos Para usar na sua Sofia-Bag</button>

<form asp-action="cadastrar">

    <partial name="_FormObjeto"/> 

    <div style="margin-top:15px; padding:15px; margin-left:410px">

        <input type="submit" class="btn btn-lg btn-success" value="Cadastrar" />
        <a asp-action="index" class="btn btn-lg btn-primary">Objetos</a>
    </div>

</form>