
@model Objetos

@{
    ViewData["title"] = "Edite seus Objetos";
}

<sucess-msg mensagem="@TempData["obj"]"></sucess-msg>

<button type="button" style="margin-bottom:1rem" class="btn btn-primary btn-lg btn-block">Atualizando seu Objeto...</button>


<form asp-action="editar">

    <partial name="_FormObjeto" />

    <div>
        <input asp-for="CodigoId"/>
    </div>

    <div style="margin-top:15px">
        <input type="submit" class="btn btn-outline-success" value="Salvar" />
        <a asp-action="index" class="btn btn-danger">Cancelar</a>
    </div>

</form>
