@{
    ViewData["Title"] = "Home Page";
}

<link rel="shortcut icon"
      href="~/icone_2.png"
      type="image/x-icon"
      />

<div class="text-center">
    <h1 class="badge badge-pill" style="margin-bottom:15px; font-size:30px; padding:15px; color:aqua; background-color:aliceblue" >Welcome To Sofia-Bag</h1>
    <div class="display-4">

        <a asp-action="cadastrar" asp-controller="Objeto" class="btn btn-lg btn-outline-success">Vamos Inciar...</a>
    </div>

    <div class="card-footer" >

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
